// ボタン以外の設定
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background: #f6f2e5;
}

h1 {
  margin: 0;
  line-height: 70px;
}

.header {
  height: 70px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.header:hover {
  transform: scale(0.9);
  border-radius: 50px;
}

span {
  display: inline-block;
  margin-left: 10%;
}

.regular_font {
  font-size: 2rem;
}

.border {
  border-bottom: solid 2px gray;
}

.contents-wrapper {
  width: auto;
  height: auto;
  margin: 5%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
// ボタン以外の設定ここまで

// ボタン共通設定
.btn {
  width: 8rem;
  height: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5rem;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;               //カーソルが指ではなくポインタになる
  user-select: text;             //ボタンのテキストが範囲選択できる
  transition: all 0.3s;          //要素の 2つの状態間の変化を定義 activeやhoverまでの時間指定
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 1rem;
}

.btn {
  margin: 10px
}
// 共通設定ここまで

// ボタン個別設定
.button1 {
  color: #fff;
  background-color: #eb6100;
  border-radius: 5px;
}
.button2, .button3, .button4 , .button5, .button6, .button6, .button7,
.button8, .button9, .button10, .button11, .button12, .button13, .button14,
.button15, .button16, .button17, .button18, .button19, .button20, .button21,
.button22, .button23, .button24, .button25, .button26, .button27, .button29 {
  color: #fff;
  background-color: #9da9e0;
  border-radius: 5px;
}

.button2{
  box-shadow: 0 0 8px rgb(85, 101, 151)         //全方位ぼかし
}

.button3 {
  box-shadow: 4px 4px rgb(85, 101, 151);       //下と右に影
}

.button4 {
  box-shadow: 4px 4px 6px rgb(85, 101, 151);       //下と右に影 + ぼかし
}

.button5 {
  box-shadow: -5px -5px 10px #545f77 inset;    //下と右の内側に影
}

.button6 {
  text-shadow: 0 2px rgb(131, 127, 127);
  box-shadow: 0 7px rgb(85, 101, 151);     //下とテキストに影
}

// 影の複数設定について・・・下記のように繰り返すことで影を多重に設定可能
// box-shadow: 左右位置 上下位置 ぼかし 広がり 色 内側, 左右の位置 上下の位置 ぼかし 広がり 色 内側;

// box-shadow: 4px 4px 6px −2px rgb(85, 101, 151), 3px 3px 15px rgba(255,255,255,0.8) inset;

.button7 {
  text-shadow: 0 2px rgb(131, 127, 127);
  box-shadow: 3px 3px 6px 3px rgb(139, 137, 137),
  3px 3px 15px rgba(255,255,255,0.8) inset;     //左上内側と右下外側に影
}

.button8 {
  text-shadow: 0 2px rgb(131, 127, 127);
  box-shadow: 5px 5px 3px rgb(126, 131, 175),
  4px 4px 6px 2px rgba(255,255,255,0.8) inset;     //左上右下で２種類の影
}

.button9 {
  box-shadow: 0 0 20px rgb(255, 255, 255) inset;         //内側全方位ぼかし
}

.button10 {
  box-shadow: 2px 4px 4px rgba(48, 64, 94, 0.3);        //影 下と右 + ぼかし + 透過度調整
}

.button11 {
  border-bottom: 6px solid #7a82a8;      //影 下 hover前
}
.button11:hover {
  border-bottom: 2px solid #7a82a8;      //影 下 ホバー後
}

.button12, .button13  {
  border-bottom: 6px solid #7a82a8;      //ホバー前
}
.button12:hover {
  transform: scale(1.2);     //ホバー時大きく
}

.button13:hover {
  transform: scale(0.9);     //ホバー時小さく + 凹む
  border-bottom: 2px solid #7a82a8;
}

.button14:hover {
  color: #7a82a8;     //ホバー時背景とテキストの色反転
  background: #fff;
  border-bottom: 2px solid #7a82a8;
}

.button15:hover {
  border-bottom: 3px solid #7a82a8; //ホバー時立体的にする
  border-right: 3px solid #7a82a8;  //ホバー時立体的にする
  box-shadow: 5px 5px 3px rgba(126, 131, 175, 0.3); //ホバー時浮かせる
}

// 360度回転
.round-box{
  width: 10;
  display: flex;
  flex-direction: row;
}
.button16, .button17, .button18 {
  width: 8rem;
  height: 1.5rem;
  display: flex;
  color: #FFF;
  margin: 20px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.button16:hover{
  animation: rolling 2s linear infinite;
}
@keyframes rolling {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.round-box .regular_font {
  line-height: 4;
  margin-left: 8%;
}
// 360度回転ここまで

// 180度回転で文字位置反転
.button17:hover{
  animation: rolling2 1s linear infinite;
}
@keyframes rolling2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
// 180度回転で文字位置反転ここまで


// 歯車回転
.position {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
}
.button18 {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  background: #615244;
  position: relative;
  top: -5px;
  left: -5px;
}
.gear, .gear2{
  width: 70px;
  height: 70px;
  margin-left: 5%;
  border: 10px dashed rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  box-sizing: border-box;
}
.gear {
  position: relative;
  right: 5px;
  background: #9e6a38;
}
.gear2{
  width: 90px;
  height: 90px;
  background: #8b5f35;
  top: 0;
}
.button18:hover{
  animation: rolling3 1s linear infinite;
}
.gear:hover{
  animation: rolling3 2s linear infinite;
}
.gear2:hover{
  animation: rolling3 3s linear infinite;
}
@keyframes rolling3 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.round-box .regular_font2 {
  line-height: 4;
  margin-left: 13%;
  font-size: 2rem;
}
// 歯車回転ここまで


// グラデーションについて
// 1と2はベンダープレフィックス・・・ブラウザ独自の拡張機能を実装するための識別子。無くすよう勧告されているため、逆に設定していると動作しない場合もある。→ 2020年後半にはベンダープレフィックスがほぼ必要なくなっている。
// 1 background: -moz-linear-gradient(開始位置, 開始色 %, 終了色 %);
// 2 background: -webkit-linear-gradient(開始位置, 開始色 %, 終了色 %);
// 3 background: linear-gradient(角度, 開始色 %, 終了色 %);
// 角度 0deg 下から上

.button19 {
  background: linear-gradient(0deg, #F89174 40%, #748af8);
}

.button20 {
  background: linear-gradient(0deg, #FFF, #f8e5af 20%, #5a72e0 50%, #f474f8);
}

.button21 {
  background: radial-gradient( #b6bcf5 40%, #7a8de6);
}

.button22 {
  background: radial-gradient( rgb(241, 40, 5), #fb965b 20%, #ffffff 50%, #ffff06);
}

.button23 {
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
}
.button23:hover {
  background: linear-gradient(25deg, rgb(255, 179, 3), rgb(255, 0, 153));
}


.button24 {
  background-color: #fdf07d;
  background-image: repeating-linear-gradient(90deg, #f4c14e 0% 10%, transparent 10% 20%);
}

.button25 {
  background-color: #ece9c2;
  background-image: repeating-linear-gradient(45deg, #f4c14e, transparent 20% 20%);
}

.button26 {
  color: #fbfbfb;
  border-radius: 30px;
  text-shadow:  //全方位ぼかし強め
    rgb(226, 121, 121) 1px 1px 10px, rgb(226, 121, 121) -1px 1px 10px,
    rgb(226, 121, 121) 1px -1px 10px, rgb(226, 121, 121) -1px -1px 10px;
  background-color: #fff;
  background-image:
  repeating-linear-gradient(90deg, #e5baba 0 10px, white 10px 19px),
  repeating-linear-gradient(180deg, white 0 10px, #e5baba 10px 19px);
  background-blend-mode: difference;    //背景イメージを背景色や画像とどのようにブレンドするか決める. difference → 互い違いに配色
}

.button27 {
  display: inline-block;  //テキストとborderに色
  background: #fff;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid #fa6c9f;
  color: #fa6c9f;
  z-index: 1;
}

//枠グラデーション hover時背景グラデーション
.frame28 {
  width: 8.6rem;
  height: 1.9rem;
  border-radius: 30px;
  background: linear-gradient(to right bottom, #ff5f6d, #ffc371);
  z-index: 2;
}
.button28 {
  position: absolute;
  top: -8px;
  right: -7px;
  display: block;
  color: #f66f00;
  background: #fff;
  border-radius: 30px;
  text-decoration: none;
  z-index: 1;
}
.frame28:hover {
  border-color: transparent;
}
.button28:hover {
  border-color:transparent;
  color: #fff;
  background: linear-gradient(45deg, #fa6c9f 0%, #ffe140 50%, #ff357f 120%);
  background-size: 200% auto;
  background-position: right center; //背景位置指定
  box-shadow: 0 5px 10px rgba(250,108,159,0.4);
}
.regular_font3 {
  display: block;
  position: relative;
  top: -50px;
  left: 180px;
  font-size: 2rem;
}
//枠グラデーション hover時背景グラデーションここまで


.button29 {
  border-radius: 30px;
  animation: colorChange 5s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  from {
    background: linear-gradient(-45deg, #f8eca7, #ff9558);
  }
  50% {
    background: linear-gradient(-45deg, #74fa86, #fbff27);
  }
  to {
    background: linear-gradient(-45deg, #77fae4, #b9fb92);
  }
}


//360度回転
.button30 {
  width: 30px;
  height: 30px;
  line-height: 3rem;
  padding: 1rem 1rem;
  border-radius: 30px;
  margin-left: 5rem;
  margin-top: 3rem;
  color: white;
  background: linear-gradient(-45deg, #f8eca7, #ff9558);
  animation: locateChange 3s linear infinite;
}
@keyframes locateChange {
  from {
    transform: rotate(0deg) translateX(20px);
  }
  to {
    transform: rotate(360deg) translateX(20px);
  }
}
.regular_font4 {
  display: block;
  position: relative;
  top: -50px;
  left: 285px;
  font-size: 2rem;
}
//360度回転ここまで


//平行移動
.button31 {
  width: 30px;
  height: 30px;
  line-height: 3rem;
  padding: 1rem 1rem;
  border-radius: 30px;
  margin-left: 5rem;
  margin-top: 3rem;
  color: white;
  background: linear-gradient(-45deg, #f8eca7, #ff9558);
  animation: locateChange2 3s linear infinite;
}
@keyframes locateChange2 {
  from {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}
.regular_font4 {
  display: block;
  position: relative;
  top: -50px;
  left: 285px;
  font-size: 2rem;
}
//平行移動ここまで


//ジグザグ移動
.button32 {
  width: 20px;
  height: 20px;
  line-height: 2rem;
  padding: 1rem 1rem;
  border-radius: 30px;
  margin-left: 5rem;
  margin-top: 3rem;
  color: white;
  background: linear-gradient(-45deg, #f8eca7, #ff9558);
  animation: locateChange3 3s linear infinite;
}
@keyframes locateChange3 {
  from {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(25px) translateY(25px);
  }
  to {
    transform: translateX(50px) translateY(0px);;
  }
}
.regular_font4 {
  display: block;
  position: relative;
  top: -50px;
  left: 285px;
  font-size: 2rem;
}
//ジグザグ移動ここまで

//伸びるボタン
.button33 {
  width: 20px;
  height: 20px;
  line-height: 2rem;
  padding: 1rem 1rem;
  border-radius: 30px;
  margin-left: 5rem;
  margin-top: 3rem;
  color: white;
  background: linear-gradient(-45deg, #f8eca7, #ff9558);
  animation: locateChange4 3s linear infinite;
}
@keyframes locateChange4 {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}
//伸びるボタンここまで